<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<string>http://s13.mogujie.cn/b7/bao/131012/vud8_kqywordekfbgo2dwgfjeg5sckzsew_310x426.jpg_200x999.jpg</string>
		<key>extend</key>
		<string>www.baidu.com</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://s6.mogujie.cn/b7/bao/130928/c7k0_kqyw6vckkfbgeq3wgfjeg5sckzsew_500x750.jpg_200x999.jpg</string>
		<key>extend</key>
		<string>www.baidu.com</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://s6.mogujie.cn/b7/bao/131008/q2o17_kqyvcz3ckfbewv3wgfjeg5sckzsew_330x445.jpg_200x999.jpg</string>
		<key>extend</key>
		<string>www.baidu.com</string>
	</dict>
</array>
</plist>
